body {
    background-color: lightYellow;
    font-family: sans-serif;
}

#nav {
   background-color: orange;
   padding: 10px;
   border-radius: 100%; 
}

nav ul {
    background-color: orange;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    letter-spacing: 1px;
    display: flex; 
    justify-content: flex-end;  
    align-items: center; 
}

.nav-left, .nav-right {
    display: flex; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-left li, .nav-right li { 
    padding: 10px;
}

nav a {
    text-decoration: none; 
    color: white; 
}

.container {
    width: 100%;
    margin-top: 60px; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.page {
    width: 25%; 
    margin: 20px; 
    padding: 30px;
    border: 1px solid orange; 
    background-color: white; 
    box-sizing: border-box;
}

button {
    background-color: orange;
    color: white;
    padding: 10px 80px;
    border: none;
    border-radius: 10px; 
}